

footer {
	background: $teal center center no-repeat;
	background-size: cover;
	font-size: .8em;
	color: black;
	text-align: center;
	padding-top: 20px;
	@include clearfix;

	.column {
		padding: 20px;

		@include respond-to( 600px ) {
			float: left;
			width: 50%;
			margin: 0;

			&.last {
				width: 100%;
			}
		}

		@include respond-to( 1024px ) {
			text-align: left;
			width: 30%;

			&.first {
				width: 40%;
			}

			&.last {
				width: 30%;
			}
		}
	}

	img {
		@include respond-to( 1024px ) {
			float: left;
			max-width: 35%;
			margin: 0 15px 15px 0;
		}
	}

	p {
		padding: 0;
	}
}

