

// set colors
$teal: #2C9BD6;
$navy: #1C488E;
$orange: #F79421;
$lime: #8DC641;
$grey: #9C9FA0;
$grey-dark: darken( $grey, 30% );

// link color
$link-color: $teal;

// text and background colors
@import "colors";


// mixin library
@import "mixins";


// font import and mixins
@import "fonts";


// css reset
@import "reset";


// base text and element styles
@import "base";
@import "grid";


// header styles
@import "header";


// general styles
@import "showcase";
@import "content";


// sidebar styles
@import "sidebar";


// footer styles
@import "footer";


// home-specific styles
@import "home";


// include magnific popup styles
@import "magnific";

